<div class="search-box">
  <button class="btn-search"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
  </svg></button>
  <input type="text" class="input-search" (change)="filterPersonnages($event)" placeholder="Rechercher...">
</div>

<div class="row">
<div class="zone-personnages col-4" *ngFor="let personnage of personnageService.personnages">
<div class="a-box">
  <div class="img-container">
    <div class="img-inner">
      <div class="inner-skew">
        <a routerLink="/personnages/{{personnage.id}}">
          <img src="{{personnage.lienImage}}">
        </a>
      </div>
    </div>
  </div>
  <div class="text-container">
    <h3>{{personnage.nom}}</h3>
    <div>
      {{personnage.statut}}
    </div>
  </div>
</div>
</div>

  <nav class="ml-3">
    <ul class="pagination justify-content-end">
      <li class="page-item"><a class="page-link" (click)="changePage($event)">1</a></li>
      <li class="page-item"><a class="page-link" (click)="changePage($event)">2</a></li>
      <li class="page-item"><a class="page-link" (click)="changePage($event)">3</a></li>
      <li class="page-item"><a class="page-link" (click)="changePage($event)">4</a></li>
      <li class="page-item"><a class="page-link" (click)="changePage($event)">5</a></li>
      <li class="page-item"><a class="page-link" (click)="changePage($event)">6</a></li>
      <li class="page-item"><a class="page-link" (click)="changePage($event)">7</a></li>
      <li class="page-item"><a class="page-link" (click)="changePage($event)">8</a></li>
      <li class="page-item"><a class="page-link" (click)="changePage($event)">9</a></li>
      <li class="page-item"><a class="page-link" (click)="changePage($event)">10</a></li>
      <li class="page-item"><a class="page-link" (click)="changePage($event)">11</a></li>
    </ul>
  </nav>
